<section id="hotels">
    <h2>Nos hôtels</h2>
    <div class="image-hotel-card">
        <p class="localisation">~ Bordeaux ~</p>
        <img src="images/image-hotel.jpg" alt="">
    </div>
    <div class="image-hotel-card">
        <p class="localisation">~ Paris ~</p>
        <img src="images/image-hotel.jpg" alt="">
    </div>
    <div class="image-hotel-card">
        <p class="localisation">~ Lille ~</p>
        <img src="images/image-hotel.jpg" alt="">
    </div>
    <div class="image-hotel-card">
        <p class="localisation">~ Vannes ~</p>
        <img src="images/image-hotel.jpg" alt="">
    </div>
    <div class="image-hotel-card">
        <p class="localisation">~ Chamonix ~</p>
        <img src="images/image-hotel.jpg" alt="">
    </div>
    <div class="image-hotel-card">
        <p class="localisation">~ Nice ~</p>
        <img src="images/image-hotel.jpg" alt="">
    </div>
    <div class="image-hotel-card">
        <p class="localisation">~ Biarritz ~</p>
        <img src="images/image-hotel.jpg" alt="">
    </div>
</section>